build/
out/

# Visual Studio Code
.cache/

# Visual Studio
.vs/

# Vim
*~

# CMake
.cache
.cmake
CMakeFiles/
Testing/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Ninja
.ninja_deps
.ninja_log
build.ninja

# ccls
.ccls-cache/
